.kid-review {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kid-name,
.community-text {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin: 0.2rem;
}

.kid-quote {
  margin: 0.5rem;
  padding: 0 1.5rem;
}
